$grid-gutter-width: 20px !default;

$navbar-default-color: rgb(246, 142, 56) !default;
$navbar-default-bg: rgb(246, 142, 56) !default;
$navbar-default-link-color: rgb(119, 119, 119) !default;

$default-border-radius: 2px !default;

@import '/node_modules/monera-style/bootstrap/index.scss',
        'partials/container.scss',
        'partials/post.scss',
        'partials/profile-card.scss',
        'partials/header.scss';

/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  background: repeating-linear-gradient(
    45deg,
    yellow -100%,
    hsla(0, 100%, 50%, 0.38) 100%
  );
}
.logo{
  width: 200px;
}

.justify{
  text-align: justify;
}

body {
  color: #333;
  text-align: center;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}
